.mat-card {
    font-family: Montserrat !important;
    font-weight: bolder;

    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #9b9b9b,
        0 1px 1px 0 #9b9b9b,
        0 1px 3px 0 #9b9b9b;
}

.chevron {
  margin-top: 20%;
}

.vcenter {
    margin-top: 40px;
    width: 95%;
}