*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: rgba(125, 125, 125, 0.429);

}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

.list:hover {
  color: rgba(125, 125, 125, 0.158);
}
